hwpx @ git+https://github.com/WsuRagDocumentAssistant/HwpxParser_sub.git
ragmodul @ git+https://github.com/WsuRagDocumentAssistant/RagModuls.git
task-controller @ git+https://github.com/WsuRagDocumentAssistant/TaskController.git
task-executor @ git+https://github.com/WsuRagDocumentAssistant/TaskExecutor.git
python-dotenv==1.0.1
